<template>
<div class="edit">
  <form
    id="item-form"
    @submit.prevent="addItem"
  >
    <component v-bind:is="type" v-bind:item="item" v-bind:mode="'edit'"></component>
    <div>
      <button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
</template>

<script>
import { mapMutations } from 'vuex'

import Items from '../components/Items'
import { modelIndex } from '../models'

export default {
  name: 'Edit',
  props: {
    type: String
  },
  components: Items,
  computed: {
    item () {
      return new modelIndex[this.type]()
    }
  },
  methods: {
    ...mapMutations([
      'store'
    ]),
    addItem () {
      this.item.date = new Date()

      this.store(this.item)
      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<style>

</style>
