<template>
  <div class="home">
    <list/>
  </div>
</template>

<script>
import List from '@/components/List.vue'

export default {
  name: 'home',
  components: {
    List
  }
}
</script>

<style>
.home {
  background: silver;
  padding: 10px 0;
}
</style>
