<template>
<div class="view">
  <component
    v-bind:is="item && item.type"
    v-bind:item="item"
    v-bind:mode="'open'"
    v-bind:removeItem="removeItem"
    v-bind:updateItem="updateItem"
  ></component>
  <div>
    <button type="button" @click="back">
      Back
    </button>
  </div>
</div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import Items from '../components/Items'

export default {
  name: 'Open',
  props: ['id'],
  components: Items,
  data () {
    return {
      errors: []
    }
  },
  computed: {
    item () {
      const item = this.extract(this.id)

      if (!item) {
        this.back()
      }

      return item
    },
    ...mapGetters([
      'extract'
    ])
  },
  methods: {
    ...mapMutations([
      'store',
      'remove'
    ]),
    removeItem (item) {
      this.remove(item)
      this.back()
    },
    updateItem (item) {
      this.store(item)
      this.back()
    },
    back () {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<style>

</style>
