<template>
<div class="event-date">
  <div>{{value | moment('MMMM Do YYYY')}}</div>
  <div>{{value | moment('h:mm a')}}</div>
</div>
</template>

<script>
export default {
  name: 'EventDate',
  props: {
    value: Date
  }
}
</script>

<style lang="less">
.event-date {
  display: flex;
  flex-direction: column;
}
</style>
