<template>
  <div class="list">
    <div class="head">
      <div class="event-date" v-stream:click="{ subject: orderClick$, data: FIELD_DATE }" :class="dateOrder$">Date</div>
      <div class="type" v-stream:click="{ subject: orderClick$, data: FIELD_TYPE }" :class="typeOrder$">Type</div>
      <div class="content">Content</div>
    </div>
    <div v-for="item in items" :key="item.id" class="row" @click="viewItem(item)">
      <event-date :value="item.date"></event-date>
      <div class="type">{{item.type}}</div>
      <div class="content">
        <component v-bind:is="item.type" v-bind:item="item"></component>
      </div>
    </div>
  </div>
</template>

<script>
import { Subject } from 'rxjs'
import { share, scan, map, distinctUntilChanged } from 'rxjs/operators'
import { mapGetters } from 'vuex'

import EventDate from './EventDate'
import Items from './Items'
import { FIELD_DATE, FIELD_TYPE } from '../models/Item'

const ORDER_ASC = 'asc'
const ORDER_LOOP = ['none', ORDER_ASC, 'desc']
const ORDER_POS_NONE = 0

const rollOrder = (pos = 0) => ++pos >= ORDER_LOOP.length ? 0 : pos
const extractOrder = field => ({ [field]: pos }) => ORDER_LOOP[pos]

export default {
  name: 'List',
  components: {
    EventDate,
    ...Items
  },
  domStreams: ['orderClick$'],
  subscriptions () {
    this.orderClick$ = new Subject()

    const rolled$ = this.orderClick$.pipe(
      scan((res, { data: field }) => {
        const pos = rollOrder(res[field])

        if (pos === ORDER_POS_NONE) {
          delete res[field]
        } else {
          res[field] = pos
        }

        return res
      }, {}),
      share()
    )
    const createNamedOrder$ = field => rolled$.pipe(map(extractOrder(field)), distinctUntilChanged())

    return {
      dateOrder$: createNamedOrder$(FIELD_DATE),
      typeOrder$: createNamedOrder$(FIELD_TYPE),
      order$: rolled$.pipe(
        map(rolledOrders => Object
          .entries(rolledOrders)
          .reduce((res, entry) => {
            entry.forEach((value, i) => res[i].push(value))
            return res
          }, [[], []])
        ),
        map(([fields = [], positions = []]) => ({
          fields,
          directs: positions.map(pos => ORDER_LOOP[pos])
        }))
      )
    }
  },
  methods: {
    viewItem ({ id }) {
      if (id) {
        this.$router.push({ name: 'open', params: { id } })
      }
    }
  },
  computed: {
    ...mapGetters([
      'order'
    ]),
    items () {
      return this.order(this.order$)
    }
  },
  data () {
    return {
      FIELD_DATE,
      FIELD_TYPE
    }
  }
}
</script>

<style lang="less">
.list {
  width: 700px;
  margin: auto;
  background: white;

  .head {

    .event-date, .type {
      display: flex;
      flex-direction: row;
      justify-content: center;
      user-select: none;

      &.asc::after {
        content: '↓';
      }
      &.desc::after {
        content: '↑';
      }
    }
  }

  .head, .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    .event-date {
      flex: 0 0 150px;
    }

    .type {
      flex: 0 0 100px;
    }

    .content {
      flex: 1 1 auto;
    }
  }

  .row {
    padding-bottom: 30px;
  }
}
</style>
