<template>
  <div class="news">
    <template v-if="mode === 'edit'">
      <div>
        <div class="head">
          News form
        </div>
        <div>
          <label>
            Title
            <input v-model="item.title" name="title">
          </label>
        </div>
        <div>
          <label>
            Text
            <textarea v-model="item.content" name="content"></textarea>
          </label>
        </div>
      </div>
    </template>
    <template v-else-if="mode === 'open'">
      <div class="title">{{item.title}}</div>
      <div>{{item.content}}</div>
      <div v-show="!item.familiarized">
        <button type="button" @click="familiarize">
          Mark as read ({{item.familiarized}})
        </button>
      </div>
    </template>
    <template v-else>
      <div class="title" :class="{ familiarized: item.familiarized }">{{item.title}}</div>
    </template>
  </div>
</template>

<script>
import News from '../models/News'

export default {
  name: 'News',
  props: {
    mode: String,
    item: News,
    updateItem: Function
  },
  methods: {
    familiarize () {
      this.item.familiarize()
      this.updateItem(this.item)
    }
  }
}
</script>

<style lang="less">
.news {
  text-align: left;

  .title {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .familiarized {
    background: lightgrey;
  }
}
</style>
