<template>
<div class="transaction">
  <template v-if="mode === 'edit'">
      <div class="head">
        Transaction form
      </div>
      <div>
        <label>
          From
          <input v-model="item.source" name="source">
        </label>
      </div>
      <div>
        <label>
          Sum
          <input v-model.number="item.sum" name="sum" type="number">
          <select
            v-model="item.currency"
            name="currency"
          >
            <option value="$">US Dollar</option>
            <option value="€">Euro</option>
          </select>
        </label>
      </div>
      <div>
        <label v-for="direction in Object.entries(item.constructor.DIRECTIONS)" :key="direction[0]">
          <input type="radio" :value="direction[0]" v-model="item.direction" name="direction">
          {{direction[1]}}
        </label>
      </div>
      <div>
        <label>
          Description
          <textarea v-model="item.description" name="description"></textarea>
        </label>
      </div>
  </template>
  <template v-else-if="mode === 'open'">
    <div class="top">
      <div class="source">
        {{item.source}}
      </div>
      <div class="sum" :class="item.direction">
        {{item.formattedSum}}
      </div>
    </div>
    <div class="description">{{item.description}}</div>
    <div>
      <button type="button" @click="removeItem(item)">
        Remove
      </button>
    </div>
  </template>
  <template v-else>
      <div class="top">
        <div class="source">{{item.source}}</div>
        <div class="sum" :class="item.direction">{{item.formattedSum}}</div>
      </div>
  </template>
</div>
</template>

<script>
import Transaction from '../models/Transaction'

export default {
  name: 'Transaction',
  props: {
    mode: String,
    item: Transaction,
    removeItem: Function
  }
}
</script>

<style lang="less">
.transaction {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-flow: row nowrap;

    .source {
      flex: 1 1 auto;
      text-align: left;
      font-weight: bold;
    }

    .sum {
      flex: 0 0 100px;
      font-size: 1.5em;
      margin: 5px;
      background: #dadada;

      &.debit {
        background: green;
      }

      &.credit {
        background: red;
      }
    }
  }

  .description {
    text-align: left;
    padding-top: 10px;
  }
}
</style>
