<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link v-for="model in models" :key="model.type" :to="{ name: 'edit', params: { type: model.type }}" replace>
        Add {{model.type}}
      </router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import models from './models'

export default {
  name: 'App',
  data () {
    return {
      models
    }
  }
}

</script>

<style lang="less">
body {
  background: silver;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 700px;
  margin: auto;
  background: white;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  a:not(:last-child):after {
    content: ' | ';
    color: #2c3e50;
  }
}
</style>
